<a href="https://colab.research.google.com/github/suisen26/AI/blob/main/%E3%83%A1%E3%82%BD%E3%83%83%E3%83%89%E4%B8%80%E8%A6%A7(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<font color="red">1.DataFrame()

In [104]:
import pandas as pd
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [105]:
df = pd.DataFrame(data = {'name': ['A', 'B'], '国語': [90, 60], '数学': [70, 100]})
df

  name  国語   数学
0    A  90   70
1    B  60  100

In [106]:
df = pd.DataFrame(data = {'name': ['A', 'B'], '国語': [90, 60], '数学': [70, 100]}, index=['a', 'b'])
df

  name  国語   数学
a    A  90   70
b    B  60  100

In [107]:
df = pd.DataFrame(data = [['A', 90, 70], ['B', 60, 100]], index=['a', 'b'], columns=['名前', '国語', '数学'])
df

  名前  国語   数学
a  A  90   70
b  B  60  100

In [108]:
df = pd.DataFrame(data = {'名前': ['A', 'B'], '国語': [90, 60], '数学': [70, 100]}, index=['a', 'b'], columns=['name', 'lang', 'math'])
df

  name lang math
a  NaN  NaN  NaN
b  NaN  NaN  NaN

#<font color="red">2.to_csv()

In [109]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [110]:
df = pd.DataFrame(data = {'name': ['A', 'B'], '国語': [90, 60], '数学': [70, 100]}, index=['a', 'b'])
df

  name  国語   数学
a    A  90   70
b    B  60  100

In [111]:
df.to_csv('/content/drive/MyDrive/a.csv')
pd.read_csv('/content/drive/MyDrive/a.csv')

  Unnamed: 0 name  国語   数学
0          a    A  90   70
1          b    B  60  100

In [112]:
df.to_csv('/content/drive/MyDrive/a.csv', index=False)
pd.read_csv('/content/drive/MyDrive/a.csv')

  name  国語   数学
0    A  90   70
1    B  60  100

In [113]:
df.to_csv('/content/drive/MyDrive/a.csv', index=False, header=False)
pd.read_csv('/content/drive/MyDrive/a.csv')

   A  90   70
0  B  60  100

#<font color="red">3.read_csv()

In [114]:
pd.read_csv('/content/drive/MyDrive/a.csv')

   A  90   70
0  B  60  100

In [115]:
pd.read_csv('/content/drive/MyDrive/a.csv', sep=',')

   A  90   70
0  B  60  100

In [116]:
pd.read_csv('/content/drive/MyDrive/a.csv', sep='\t')

    A,90,70
0  B,60,100

In [117]:
df.to_csv('/content/drive/MyDrive/a.csv', index=False)
pd.read_csv('/content/drive/MyDrive/a.csv')

  name  国語   数学
0    A  90   70
1    B  60  100

In [118]:
pd.read_csv('/content/drive/MyDrive/a.csv', sep=',', usecols=['name', '国語'])

  name  国語
0    A  90
1    B  60

#<font color="red">shape

In [119]:
df = pd.DataFrame(data = {'name': ['A', 'B'], '国語': [90, 60], '数学': [70, 100]})
df

  name  国語   数学
0    A  90   70
1    B  60  100

In [120]:
df.shape

(2, 3)

#<font color="red">head()

In [121]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.head()

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    D  40   65
4    E  10   40

In [122]:
df.head(10)

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    D  40   65
4    E  10   40
5    F  45   80

#<font color="red">tail()

In [123]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.tail()

  name  国語   数学
1    B  60  100
2    C  30   90
3    D  40   65
4    E  10   40
5    F  45   80

In [124]:
df.tail(3)

  name  国語  数学
3    D  40  65
4    E  10  40
5    F  45  80

#<font color="red">columns

In [125]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.columns

Index(['name', '国語', '数学'], dtype='object')

#<font color="red">index

In [126]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.index

RangeIndex(start=0, stop=6, step=1)

In [127]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]}, index=['one', 'two', 'three', 'fow', 'five', 'six'])
df.index

Index(['one', 'two', 'three', 'fow', 'five', 'six'], dtype='object')

#<font color="red">dtypes

In [128]:
df = pd.DataFrame(data = {'name': ['A','B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.dtypes

name    object
国語       int64
数学       int64
dtype: object

#<font color="red">astype

In [129]:
df

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    D  40   65
4    E  10   40
5    F  45   80

In [130]:
df.dtypes

name    object
国語       int64
数学       int64
dtype: object

In [131]:
df[['国語', '数学']].astype('float64')

     国語     数学
0  90.0   70.0
1  60.0  100.0
2  30.0   90.0
3  40.0   65.0
4  10.0   40.0
5  45.0   80.0

#<font color="red">nunique()

In [132]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.nunique()

name    6
国語      6
数学      6
dtype: int64

In [133]:
df.nunique(axis=1)

0    3
1    3
2    3
3    3
4    3
5    3
dtype: int64

#<font color="red">loc[]

In [134]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.loc[1]

name      B
国語       60
数学      100
Name: 1, dtype: object

In [135]:
df.loc[2:4]

  name  国語  数学
2    C  30  90
3    D  40  65
4    E  10  40

In [136]:
df.loc[0:2, '国語']

0    90
1    60
2    30
Name: 国語, dtype: int64

#<font color="red">info()

In [137]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   国語      6 non-null      int64
 2   数学      6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

#<font color="red">iloc[]

In [138]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'D', 'E', 'F'], '国語': [90, 60, 30, 40, 10, 45], '数学': [70, 100, 90, 65, 40, 80]})
df.iloc[0]

name     A
国語      90
数学      70
Name: 0, dtype: object

In [139]:
df.iloc[0:2]

  name  国語   数学
0    A  90   70
1    B  60  100

In [140]:
df.iloc[1:3, 0:2]

  name  国語
1    B  60
2    C  30

#<font color="red">concat()

In [141]:
df1 = pd.DataFrame(data = {'name': ['A', 'B', 'C'], '国語': [90, 60, 30], '数学': [70, 100, 90]})
df2 = pd.DataFrame(data = {'name': ['G', 'H'],'国語': [30, 40], '数学': [65, 40]})
pd.concat([df1, df2])

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
0    G  30   65
1    H  40   40

In [142]:
pd.concat([df1, df2], ignore_index=True)

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    G  30   65
4    H  40   40

In [143]:
pd.concat([df1, df2], axis=1)

  name  国語   数学 name    国語    数学
0    A  90   70    G  30.0  65.0
1    B  60  100    H  40.0  40.0
2    C  30   90  NaN   NaN   NaN

#<font color="red">reset_index()

In [144]:
df.reset_index()

   index name  国語   数学
0      0    A  90   70
1      1    B  60  100
2      2    C  30   90
3      3    D  40   65
4      4    E  10   40
5      5    F  45   80

In [145]:
df.reset_index(drop=True)

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    D  40   65
4    E  10   40
5    F  45   80

#<font color="red">drop()

In [146]:
df

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    D  40   65
4    E  10   40
5    F  45   80

In [147]:
df.drop([1, 4, 3])

  name  国語  数学
0    A  90  70
2    C  30  90
5    F  45  80

In [148]:
df.drop(['name', '国語'], axis=1)

    数学
0   70
1  100
2   90
3   65
4   40
5   80

In [149]:
df.drop(2, inplace=True)
df

  name  国語   数学
0    A  90   70
1    B  60  100
3    D  40   65
4    E  10   40
5    F  45   80

#<font color="red">sum()

In [150]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C'], '国語': [90, 60, 30], '数学': [70, 100, 90]})
df

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90

In [151]:
df.sum()

name    ABC
国語      180
数学      260
dtype: object

In [152]:
df.sum(axis=1)

<ipython-input-152-f6cc363c055e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=1)

0    160
1    160
2    120
dtype: int64

#<font color="red">mean()

In [153]:
df

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90

In [154]:
df.mean()

<ipython-input-154-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

国語    60.000000
数学    86.666667
dtype: float64

In [155]:
df.mean(axis=1)

<ipython-input-155-12447cc42592>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)

0    80.0
1    80.0
2    60.0
dtype: float64

#<font color="red">count()

In [156]:
import numpy as np

In [157]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C'], '国語': [90, np.nan, 30], '数学': [70, 100, 90]})
df

  name    国語   数学
0    A  90.0   70
1    B   NaN  100
2    C  30.0   90

In [158]:
df.count()

name    3
国語      2
数学      3
dtype: int64

In [159]:
df.count(axis=1)

0    3
1    2
2    3
dtype: int64

#<font color="red">describe()

In [160]:
df

  name    国語   数学
0    A  90.0   70
1    B   NaN  100
2    C  30.0   90

In [161]:
df.describe()

              国語          数学
count   2.000000    3.000000
mean   60.000000   86.666667
std    42.426407   15.275252
min    30.000000   70.000000
25%    45.000000   80.000000
50%    60.000000   90.000000
75%    75.000000   95.000000
max    90.000000  100.000000

In [162]:
df.describe(include=['int64'])

               数学
count    3.000000
mean    86.666667
std     15.275252
min     70.000000
25%     80.000000
50%     90.000000
75%     95.000000
max    100.000000

#<font color="red">corr()

In [163]:
df

  name    国語   数学
0    A  90.0   70
1    B   NaN  100
2    C  30.0   90

In [164]:
df.corr()

     国語   数学
国語  1.0 -1.0
数学 -1.0  1.0

#<font color="red">duplicated()

In [165]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'C'], '国語': [90, 60, 30, 30], '数学': [70, 100, 90, 90]})
df

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    C  30   90

In [166]:
df.duplicated()

0    False
1    False
2    False
3     True
dtype: bool

In [167]:
df.duplicated(subset=['name'])

0    False
1    False
2    False
3     True
dtype: bool

In [168]:
df.duplicated(keep='last')

0    False
1    False
2     True
3    False
dtype: bool

In [169]:
df.duplicated(keep='first')

0    False
1    False
2    False
3     True
dtype: bool

In [170]:
df.duplicated(keep=False)

0    False
1    False
2     True
3     True
dtype: bool

#<font color="red">drop_duplicates()

In [171]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C', 'C'], '国語': [90, 60, 30, 30], '数学': [70, 100, 90, 90]})
df

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90
3    C  30   90

In [172]:
df.drop_duplicates()

  name  国語   数学
0    A  90   70
1    B  60  100
2    C  30   90

In [173]:
df.drop_duplicates(keep='last')

  name  国語   数学
0    A  90   70
1    B  60  100
3    C  30   90

In [174]:
df.drop_duplicates(keep=False)

  name  国語   数学
0    A  90   70
1    B  60  100

#<font color="red">isnull()

In [175]:
df = pd.DataFrame(data = {'name': ['A', 'B', 'C'], '国語': [90, 60, np.nan], '数学': [70, 100, 90]})
df

  name    国語   数学
0    A  90.0   70
1    B  60.0  100
2    C   NaN   90

In [176]:
df.isnull()

    name     国語     数学
0  False  False  False
1  False  False  False
2  False   True  False

#<font color="red">merge

In [177]:
df1 = pd.DataFrame({'id': [1, 2, 3, 4, 5], 'item_id': ['A', 'B', 'C', None, 'G']})
df2 = pd.DataFrame({'id': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], 'item': ['シャンプー', 'リンス', '石鹸', '洗顔', '歯磨き', '歯磨き粉', '洗剤', '柔軟剤']})
df1.merge(df2, left_on='item_id', right_on='id')

   id_x item_id id_y   item
0     1       A    A  シャンプー
1     2       B    B    リンス
2     3       C    C     石鹸
3     5       G    G     洗剤

In [178]:
df1.merge(df2, how='left', left_on='item_id', right_on='id')

   id_x item_id id_y   item
0     1       A    A  シャンプー
1     2       B    B    リンス
2     3       C    C     石鹸
3     4    None  NaN    NaN
4     5       G    G     洗剤

In [179]:
df1.merge(df2, how='right', left_on='item_id', right_on='id')

   id_x item_id id_y   item
0   1.0       A    A  シャンプー
1   2.0       B    B    リンス
2   3.0       C    C     石鹸
3   NaN     NaN    D     洗顔
4   NaN     NaN    E    歯磨き
5   NaN     NaN    F   歯磨き粉
6   5.0       G    G     洗剤
7   NaN     NaN    H    柔軟剤

#<font color="red">values

In [180]:
df2['item'].values

array(['シャンプー', 'リンス', '石鹸', '洗顔', '歯磨き', '歯磨き粉', '洗剤', '柔軟剤'],
      dtype=object)

In [181]:
list(df2['item'].values)

['シャンプー', 'リンス', '石鹸', '洗顔', '歯磨き', '歯磨き粉', '洗剤', '柔軟剤']